<form action='/combinations' method='get'>
  <div class="form-group">
    <label for="amount">Your dollar amount</label>
    <input id="amount" name="amount" class="form-control" type="text" placeholder="0.00">
  </div>
  <button type="submit" class="btn">Calculate change</button>
</form>
